* {
    margin: 0;
    font-family: "Inconsolata", monospace;
}

body {
    background-color: #303030 !important;
    color: #D0D0D0 !important;
    font-size: 0.8rem !important;
}

table {
    color: #D0D0D0 !important;
}

#title, table th {
    color: #F39C12;
}

#content {
    padding: 1em;
}

#debug {
    width: 340px;
    padding-left: 1em;
}

#create-form .col {
    padding: 0.25rem;
}

#create-form .form-row {
    margin-left: 0;
    margin-right: 0;
}

#create-form .form-group {
    margin-right: 5px;
}

#create-form label {
    margin-bottom: 0;
}

#create-form input {
    width: 75px;
}

#canvas {
    width: 800px;
    height: 800px;
    image-rendering: pixelated;
}

#performance table {
    margin-bottom: 0;
}

#performance table td {
    text-align: center;
}

#actions i {
    font-style: normal;
}

#painting label, #brushSettings label {
    margin-bottom: 0;
}

#painting input[type=radio] {
    height: 10px;
}

#brushSettings input[type=range] {
    height: 5px;
    width: 100px;
}

#brushSize {
    margin-left: 21px;
}

#brushSettings input[type=range]::-webkit-slider-runnable-track {

}

#brushSettings input[type=range]::-webkit-slider-thumb {

}

.table-sm {
    margin: 0 !important;
}

.table-sm th, .table-sm td {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.debug-panel {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px var(--gray) solid;
    border-radius: 3px;
}

.fps {
    color: var(--success);
}

.emptyElement {
    color: rgba(255,255,255,1);
}

.wallElement {
    color: rgba(0,0,0,1);
}

.sandElement {
    color: rgba(194, 178, 127, 1);
}