* {
    margin: 0;
    font-family: "Inconsolata", monospace;
}

body {
    background-color: #303030 !important;
    color: #D0D0D0 !important;
}

table {
    color: #D0D0D0 !important;
}

#title, table th {
    color: #F39C12;
}

#content {
    padding: 1em;
}

#canvas {
    width: 800px;
    height: 800px;
    image-rendering: pixelated;
}

#performance table {
    margin-bottom: 0;
}

#performance table td {
    text-align: center;
}

#painting label {
    margin-bottom: 0;
}

.debug-panel {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px var(--gray) solid;
    border-radius: 3px;
}

.fps {
    color: var(--success);
}

.emptyElement {
    color: rgba(255,255,255,1);
}

.wallElement {
    color: rgba(0,0,0,1);
}

.sandElement {
    color: rgba(194, 178, 127, 1);
}